/* FOUNDATIONS/TYPE SELECTORS */
:root {
  scroll-padding-top: 8rem;
  box-sizing: border-box;
  --mylightblue: #f0f8ff;
  --mymediumblue: #0582ca;
  --mydarkblue: #006494;
  --mygreen: #558b6e;
  --myblack: #1a181b;
  color: var(--mydarkblue);
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
}
:focus {
  border: 0.1em solid black;
}
::selection {
  background: var(--mygreen);
  color: white;
}
header {
  position: sticky;
  top: 0;
  background-color: var(--mylightblue);
  border-bottom: 0.2rem solid var(--mydarkblue);
}
.heading {
  width: 80vw;
  margin: auto;
}
body {
  margin: 0;
  background-color: var(--mylightblue);
}
main {
  width: 80vw;
  margin: auto;
}
h1 {
  margin-left: 1em;
  font-size: 2em;
  font-weight: bold;
  text-align: start;
}
h2 {
  color: var(--mymediumblue);
  font-size: 1.5em;
  font-weight: bold;
}
section {
  padding: 1em;
  margin: 1em;
  border: 0.1em solid var(--mydarkblue);
  border-radius: 2em;
  background-color: white;
}

/* NAVIGATION MENU */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  list-style-type: none;
}
.menu-item {
  margin-right: 1.5em;
  font-weight: bold;
}
.menu a:link {
  text-decoration: none;
  color: var(--mygreen);
}
.menu a:visited {
  color: var(--mygreen);
}
.menu-item:hover {
  text-decoration: underline;
}

/* SKILLS/EXPERIENCE LIST SHARED PROPERTIES */
.list-of-things li {
  height: auto;
  width: auto;
  padding: 1em;
  border: 0.1em solid var(--mydarkblue);
  border-radius: 1em;
  color: var(--mygreen);
  text-align: start;
}

/* EXPERIENCE/PROJECTS LIST */
.vertical-list li {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0.5em;
}

/* SKILLS LIST */
.skills-item {
  display: inline-flex;
  flex-direction: row;
  margin: 0.1em;
}

/* PROJECT AND CONNECT SECTIONS */
.clicky-list a:link {
  color: var(--mygreen)
}
.clicky-list a:visited {
  color: var(--mydarkblue);
}
.clicky-list a:hover {
  text-decoration-color: var(--mydarkblue);
}
.clicky-list a:visited:hover {
  text-decoration-color: var(--mygreen);
}

/* PROJECTS SECTION */
#projects a:link {
  color: var(--mydarkblue);
}
#projects a:hover {
  text-decoration-color: var(--mygreen);
}

/*
  Attempt to make text change when link clicked:
  #projects p {
    font-size: 0.9rem;
  }
  #projects p.clicked {
    color: var(--mygreen);
  }
*/

/* MESSAGE FORM BOX */
form input, form textarea {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border: 0.1em solid var(--mydarkblue);
  border-radius: 0.5em;
  margin: 0.5em 0.5em 0.5em 0;
  width: 30%;
}
label {
  color: var(--mygreen);
  font-weight: bold;
}
input:invalid {
  outline-color: red;
}
input:valid {
  outline-color: var(--mygreen);
}
textarea:empty {
  outline-color: red;
}
textarea:valid {
  outline-color: var(--mygreen);
}
button {
  border: 0.1em solid var(--mydarkblue);
  border-radius: 1em;
  height: 3em;
  width: 5em;
  background-color: var(--mymediumblue);
  color: white;
}
button:hover {
  border: 0.2em solid var(--mydarkblue);
}
button:active {
  background-color: var(--mydarkblue);
}

/* MESSAGES LIST */
.messages {
  display: none;
}
.messages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  padding: 1rem;
  border: 0.1em solid var(--mydarkblue);
  border-radius: 1em;
  color: var(--mygreen);
  text-align: start;
}
.messages-item span {
  width: 100%;
  padding: 0.5em;
}
.messages a:link {
  color: var(--mydarkblue)
}
.messages a:visited {
  color: var(--mygreen);
}
.messages a:hover {
  text-decoration-color: var(--mygreen);
}
.messages a:visited:hover {
  text-decoration-color: var(--mymediumblue);
}

/* FOOTER */
.footer {
  width: 100%;
  padding: 0.5em;
  background-color: lightgrey;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
  }
 .menu-item {
    padding-bottom: 0.5em;
    text-decoration: underline;
  }
  form input,
  form textarea {
    width: 90%;
  }
  :root {
    width: 100vw;
    scroll-padding-top: 0;
  }
  header {
    position: static;
    height: auto;
  }
  .heading,
  main {
    width: 100vw;
  }
  .list-of-things {
    padding-left: 0;
  }
}



/*

:checked (when checkboxes are checked)

:target (for when you click navigation links; it can highlight/change the area you navigate to)

:active (when an item is activated by user; for example, when clicked)

*/